/* blogCard.css */

.blog-card-container {
  display: flex;
  justify-content: flex-end; /* Alinear a la derecha */
  flex-wrap: wrap; /* Permitir que las cartas se envuelvan en filas */
}

.blog-card {
  width: calc(50% - 20px); /* Ancho de la carta: 50% menos el margen */
  max-width: 300px; /* Máximo ancho de la carta */
  height: auto; /* Permitir que la altura se ajuste automáticamente */
  margin: 10px; /* Margen entre las cartas */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), /* Sombra suave */
              0 0 20px rgba(255, 165, 0, 0.5); /* Sombra con efecto 3D */
  overflow: hidden; /* Ocultar cualquier contenido que desborde */
  background: linear-gradient(135deg, #ffaf60, #ff7e5f); /* Gradiente de naranja */
  transition: transform 0.3s ease-in-out; /* Animación al pasar el ratón */
}

.blog-card:hover {
  transform: translateY(-5px); /* Efecto de levantamiento al pasar el ratón */
}

.blog-card img {
  width: 100%; /* Ancho de la imagen al 100% de la carta */
  height: auto; /* Altura automática para mantener la proporción */
  border-radius: 8px 8px 0 0; /* Bordes redondeados solo en la parte superior */
}

.blog-card-content {
  padding: 20px; /* Ajustar el espacio interior */
  color: #ffffff; /* Color de texto blanco */
}

.blog-card button {
  background-color: #000000; /* Cambiar el color de fondo del botón a negro */
  color: #ffffff; /* Color del texto del botón */
}

/* Estilos para tema claro */
@media (prefers-color-scheme: light) {
  :root {
      color: #213547;
      background-color: #ffffff;
  }
  a:hover {
      color: #0b336b;
  }
}
