.container-coment-card-list{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 3rem;
    background-color: white;
    color: black;
}

.card-coment{
    border: 1px solid black;
    width: 200px;
    height: 100px;
}

.text-small{
    font-size: 0.8em;
    display: flex;
    gap: 1rem;
}